*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass Mono', monospace;
}
nav{
    width: 100vw;
    background-color: rgb(74, 68, 68);
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
nav ul li{
    font-size: 1em;
    margin-right: 2em;
}
nav ul li a{
    text-decoration: none;
    color: crimson;
}
h1{
    font-size: 3em;
    color: crimson;
    padding-top: 20vh;
}
section{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 40vh;
    background-color: rgb(74, 68, 68);
}